credentials.json
config.py
*.xml
*.iml
bin/
lib/
venv/
/scratch.py
/email_2_mission_app/token.pickle
/email_2_mission/notification_2_message.yaml
*.pyc
.DS_Store
.vscode/launch.json
.vscode/settings.json
